<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="SellWoodTracker"
			 connectionString="Server=DESKTOP-4ORQH0K;Database=SellWoodTracker;Trusted_Connection=True;" 
			 providerName="System.Data.SqlClient"/>
		<add name ="SellWoodTracker.xlsx"
			 connectionString ="C:/Users/andri/OneDrive/Documents/SellWoodTracker.xlsx"/>
	</connectionStrings>
</configuration>